<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Leaf Disease Prediction{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
    {% block styles %}{% endblock %}
</head>
<body>

    <header class="header">
        <a href="{{ url_for('main') }}" class="logo">LeafScan <span>AI</span></a>
        <div style="float: right; padding-top: 5px;">
            <a href="{{ url_for('disease_library') }}" style="text-decoration: none; color: #555; margin-left: 20px; font-weight: 500;">Disease Library</a>
            <a href="{{ url_for('my_crops') }}" style="text-decoration: none; color: #555; margin-left: 20px; font-weight: 500;">My Crops</a>
        </div>    </header>

    <main class="content-card">
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
</html>